*{
    background-color: yellow;
}
#addtask{
    color:red;
    background-color: black;
}
#todolist{
color: bllue;
}
h1,input,ol{
    margin-left: 550px;

}
h1{
    color:blue;
}
ol{
    color: brown;
    font-style: italic;
    text-shadow: white;
    font-size: larger;
    font-weight: bolder;
}
